.header-outer{
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.home-header-outer{
  display: flex;
  flex-direction: row;
  background: url('map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5em;
}

.left{
  order: 1;
  width: 50%;
  background: rgba(0,0,0, .5);
  border-right: 4px solid rgba(255,255,255, .864);
  color: white;
  padding: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: 3s zoom-in-text;
}

.right{
  order: 2;
  width: 50%;
  animation: 3s zoom-in-image;
  background: url('map-blue-2.png');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes zoom-in-image {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom-in-text  {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 450px){
  .header-outer{
    display: block;
  }
  .right{
    width: 100%;
    border-left: 4px solid transparent;
  }
  .left{
    width: 100%;
    height: 60%;
    background: url('road.jpg');
    background-image:
          linear-gradient(top, rgba(255,255,255,0.5235), rgba(255,255,255,0.46235)), url("road.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.welcome-message{
    animation: 5s welcome-message linear,
              15s welcome-message-swing infinite;
    color: #445566;
    border: 1px solid #445566;
    background: rgba(255,255,255, .7584);
    height: 53vh;
    width: 40%;
    border: 1px solid white;
    border: 1px solid rgba(	68, 85, 102, .4);
    border-radius: 5px;
    padding: 1.5em;
    font-family: helvetica;
    text-transform: uppercase;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    transform: rotate(-10deg);
    flex-direction: column;
    -webkit-box-shadow: -10px 3px 70px -5px rgba(68,85,102,0.71);
    -moz-box-shadow: -10px 3px 70px -5px rgba(68,85,102,0.71);
    box-shadow: -10px 3px 70px -5px rgba(68,85,102,0.71);
}

.welcome-p{
  text-transform: capitalize;
  font-size: .8em;
  text-align: center;
  color: gray;
  border-top: 3px solid #445566;
  border-top: 3px solid #446666;
  padding: 1em;
  padding-bottom: 1em;
}
.welcome-title{
  /*text-transform: capitalize;
  font-size: .8em;
  text-align: center;
  color: gray;
  border-top: 3px solid #445566;*/
  padding-bottom: 1em;
  text-align: center;
}

@keyframes welcome-message{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes welcome-message-swing{
    0% { transform: rotate(0deg); }
    20% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.start-button > a{
  border: 1px solid #446666;
  border-radius: 5px;
  padding: 1em;
  font-size: .5em;
  color: #446666;
}

.outer-start{
  display: flex;
  justify-content: center;
}
