/*.middle{
  background: rgba(255, 255, 255, .6878363);
  border: 1px solid white;
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}*/
/*
.middle-outer{
  padding: 2em;
}

.middle-outer-outer{
  display: flex;
  align-items: baseline;
}*/
