.search-fade{
    animation: 5s search-fade-horiz linear;
    color: #445566;
    border-radius: 5px;
    font-family: helvetica;
    font-size: .9em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@keyframes search-fade-horiz{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.flex-title{
  display: block;
  margin: 0 auto;
  padding: 1em;
  border-bottom: 3px solid maroon;
  width: 80%;
  text-transform: capitalize;
  order: 1;
}

h3{
  text-transform: uppercase;
  padding-bottom: 1em;
  padding-top: 1em;
}

.flex-search{
  display: flex;
  order: 2;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.left-search{
  width: 40%;
  padding: 2em;
}

.but-area{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1%;
  justify-content: center;

}

.button-add{
  width: 46%;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.14);
  margin: 1%;
  background: #f5eff2;
  border: 1px solid #664455;
  transition:  width 1.5s, height 1.5s, background 2s, transform 2s, color 2s, border 0.15s linear, -webkit-transform 2s;
  font-size: .8em;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.button-add:hover{
  background: #e5d8de;
}

form{
  width: 100%;
  padding: 1em;
  text-align: center;
}

input{
  border: 2px solid #445566;
  padding: 1em;
  font-size: 1.3em;
  border-radius: 5px;
}
#additional{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#additional input{
  width: 90%;
}

.button-del{
  border: 1px solid transparent;
  background: transparent;
  color: #446655;
  border: 1px solid #446655;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: .6em;
  padding-bottom: .3em;
  border-radius: 5px;
  transition:  width 1.5s, height 1.5s, background 2s, transform 2s, color 2s, border 0.15s linear, -webkit-transform 2s;

}

.button-del:hover{
  color: #698476;
  background: #ecefee;
}

.right-search{
  padding: 2em;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.disabled{
  opacity: .4;
}

.directions-button, .directions-button-save, #route-button{
  background: transparent;
  border: 1px solid #445566;
  padding: 1em;
  border-radius: 5px;
  z-index: 1;
  transition:  width 1.5s, height 1.5s, background 2s, transform 2s, color 2s, border 0.15s linear, -webkit-transform 2s;

}

.directions-button:hover, .directions-button-save:hover, #route-button:hover{
  color: #664455;
}


.directions-button-save{
  margin-top: 10%;
  margin-bottom: 10%;
  transition:  width 1.5s, height 1.5s, background 2s, transform 2s, color 2s, border 0.15s linear, -webkit-transform 2s;
}

.directions-button-save:hover{
    color: #774455;
    border: 1px solid #774455;
}
.path-item{
  color: gray;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.shortest-path, .directions{
  padding: 1em;
  border-radius: 5px;
  padding: 1em;
}

.shortest-path{
  position: absolute;
  padding: 1em;
  margin-bottom: 10%;
  margin-top: 37%;
}

.directions{
  padding: 1em;
  justify-content: center;
  display: flex;
  flex-direction: column;
    width: 100%;
}

.directions-but-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middle-outer-outer-search{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding: 1%;
}

.middle-outer-search{
  width: 90%;
}

.middle-search{
  /*border: 1px solid white;*/
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 80vh;
}

.header{
  width: 100%;
  text-align: center;
}

.mid-form{
  width: 100%;
}

.directions-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.directions-col{
  display: column;
  flex-direction: column;
}

.dir-h3{
  border-bottom: 2px solid #664455;
  margin-bottom: 5%;
}


.dirToRender{
  color: #446655;
  font-weight: bold;
}

@media screen and (max-width: 450px){
  .flex-title h4{
    line-height: 1.5em;
  }

  .flex-search{
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }

  .left-search{
    width: 100%;
    padding: 2em;
    order: 1;
  }

  .right-search{
    width: 100%;
    order: 2;
  }

  .but-area{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 1%;
    justify-content: center;

  }

  .button-add{
    width: 100%;

  }

  .shortest-path{
    position: absolute;
    padding: 1em;
    margin-bottom: 10%;
    margin-top: 110%;
  }

}
